#fullpage {
  height: 100vh !important;
  overflow: hidden;
  .slide {
    height: 100vh;
    padding-top: 3vh;
    width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
    .wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .title {
        opacity: 1;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        letter-spacing: 4px;
        align-items: center;
        display: flex;
        height: 45px;
        justify-content: center;
        width: 65%;
        /* text-shadow: 2px 2px 1px #3133638a; */
        border-radius: 50px;
        margin-bottom: 5vh;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        background: linear-gradient(
          45deg,
          #405de67d,
          #5851db8c,
          #833ab485,
          #c135848a,
          #e1306c85,
          #fd1d1d63
        );
        select.drop-down {
          background: transparent;
          border: 0 transparent;
          color: white;
          option {
            background: #eeeeee;
            color: #9a9a9a;
            font-size: 16px;
            font-weight: 600;
            border-radius: 10px;
          }
        }
      }
      .stats {
        color: #a0a0a0;
        .block {
          transition: 0.5s;
          transition-timing-function: ease-in-out;
          border-radius: 36px;
          margin-bottom: 4vh;
          padding: 12px 12px 23px;
          display: flex;
          width: 90vw;
          flex-direction: column;
          max-width: 570px;
          .stat-title {
            font-size: 22px;
            height: 65px;
          }
          .stat-value {
            font-size: 17vw;
            height: 44px;
          }
        }
        .block.block1 {
          .stat-title {
            color: #405de67d;
          }
          .stat-value {
            color: #5851db8c;
          }
        }
        .block.block2 {
          .stat-title {
            color: #833ab485;
          }
          .stat-value {
            color: #c135848a;
          }
        }
        .block.block3 {
          .stat-title {
            color: #e1306c85;
          }
          .stat-value {
            color: #fd1d1d63;
          }
        }
      }
    }
  }
  .slide.inactive {
    .wrapper {
      .title {
        width: 125%;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        opacity: 0.3;
      }
    }
  }
  .swipe {
    color: #cecece;
    font-size: 80px;
    font-weight: 900;
  }
}

@media (min-width: 570px) {
  .wrapper {
    .title {
    }
    .stats {
      .block {
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        .stat-title {
          font-size: 22px;
          height: 60px;
        }
        .stat-value {
          font-size: 109px;
          height: 44px;
        }
      }
    }
  }
  .content {
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper {
      .title {
        .drop-down {
          width: 75%;
        }
      }
      .stats {
        display: flex;
        flex-direction: row;
        margin-top: 5vh;
        .block {
          transition: 0.5s;
          transition-timing-function: ease-in-out;
          width: 30vw !important;
          margin: 0 1.5vw;
          .stat-title {
            height: 48px;
          }
          .stat-value {
            font-size: 7vw !important;
          }
        }
      }
    }
  }
}

.dark-mode {
  position: absolute;
  bottom: 10px;
  left: 50vw;
  width: 66px;
  margin-left: -33px;

  .label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
  }

  .label-text {
    margin-left: 16px;
  }

  .toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
  }

  .toggle-state {
    display: none;
  }

  .indicator {
    height: 100%;
    width: 200%;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: 0.5s;
    transition-timing-function: ease-in-out;
  }

  .toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
  }
}

.white-mode-background {
  .slide {
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    background-color: #eeeeee;
    .stats {
      .block {
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        background: linear-gradient(145deg, #d6d6d6, #ffffff);
        box-shadow: 8px 8px 16px #cacaca, -8px -8px 16px #ffffff;
      }
    }
    .wrapper {
      .title {
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        background: #eeeeee;
        box-shadow: 8px 8px 16px #cacaca, -8px -8px 16px #ffffff;
      }
    }
  }
  .dark-mode {
    .toggle {
      transition: 0.5s;
      transition-timing-function: ease-in-out;
      box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6,
        4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
    }
    .indicator {
      transition: 0.5s;
      transition-timing-function: ease-in-out;
      background: #ecf0f3;
      box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6;
    }
  }
}

.dark-mode-background {
  .slide {
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    background-color: #242424;
    .stats {
      .block {
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        background: linear-gradient(145deg, #212121, #202020);
        box-shadow: 8px 8px 16px #1f1f1f, -8px -8px 16px #0e0e0e;
      }
      .block.block1 {
        .stat-title {
          color: #405de6d6;
        }
        .stat-value {
          color: #5851dbd6;
        }
      }
      .block.block2 {
        .stat-title {
          color: #833ab4d6;
        }
        .stat-value {
          color: #c13584d6;
        }
      }
      .block.block3 {
        .stat-title {
          color: #e1306cd6;
        }
        .stat-value {
          color: #fd1d1dd6;
        }
      }
    }
    .wrapper {
      .title {
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        background: #242424;
        box-shadow: 8px 8px 16px #1f1f1f, -8px -8px 16px #292929;
        opacity: 0.8;
      }
    }
  }
  .dark-mode {
    .toggle {
      transition: 0.5s;
      transition-timing-function: ease-in-out;
      box-shadow: -8px -4px 8px 0px #171717, 8px 4px 12px 0px #2d2d2d,
        4px 4px 4px 0px #2b2b2b inset, -4px -4px 4px 0px #171717 inset;
    }
    .indicator {
      transition: 0.5s;
      transition-timing-function: ease-in-out;
      background: #2d2d2d;
      box-shadow: -8px -4px 8px 0px #000000, 8px 4px 12px 0px #1f1f1f;
    }
  }
}

.default-color-off,
.default-color-off:focus,
.default-color-off:active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
